* {
  box-sizing: border-box;
}

:root {
  --hue: 35;
  --saturation: 58%;
  --lightness: 94%;
  --background: hsl(var(--hue), var(--saturation), var(--lightness));
  --text-color: #5fb3e0;
  --animation-speed: 0.3s;
}

body {
  background-image: linear-gradient(var(--background), hsl(var(--hue), calc(var(--saturation) + 35%), calc(var(--lightness) - 10%)));
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.header #github img {
  height: 100px;
  width: auto;
}

.header #resume {
  position: relative;
  font-weight: bold;
  color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness)));
  background-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 50%));
  animation: color_out var(--animation-speed) ease-in;
  font-size: 2.5em;
  padding: 10px;
  border: 10px solid hsl(var(--hue), calc(var(--saturation) + 20%), calc(var(--lightness) - 20%));
  border-radius: 15px;
  text-decoration: none;
  margin-left: auto;
  box-shadow: 10px 10px 10px hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 50%));
}

.header #resume:hover {
  animation: color_in var(--animation-speed) ease-in;
  background-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 70%));
}

@keyframes color_in {
  0% {
    background-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 50%));
  }

  100% {
    backgroun-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 70%));
  }
}

@keyframes color_out {
  0% {
    background-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 70%));
  }

  100% {
    background-color: hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 50%));
  }
}

.greetings {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.greetings #message {
  width: 40%;
  margin: 10px;
  color: var(--text-color);
  font-size: 2em;
}

.greetings #profile_photo {
  height: 90%;
  border-radius: 30px;
  animation: down-pop var(--animation-speed) ease-in;
  box-shadow: 30px 30px 55px hsl(var(--hue), calc(var(--saturation)), calc(var(--lightness) - 50%));
}

.greetings #profile_photo:hover {
  animation: up-pop var(--animation-speed) ease-in;
  height: 95%;
}

@keyframes up-pop {
  0% {
    height: 90%;
  }

  100% {
    height: 95%;
  }
}

@keyframes down-pop {
  0% {
    height: 95%;
  }

  100% {
    height: 90%;
  }
}